{% extends 'base/base.html' %}

{% block title %}Home - My Website{% endblock %}

{% block header %}Welcome to My Website{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-5 rounded-left ligth-green-jumbo mr-2 py-2">
            <p>A quois sert le site ?</p>
            <p>Ce site à pour but de découvrir les animaux vivant sur notre planète ainsi que le son qu'il émette lorsqu'ils communiquent.</p>
        </div>
        <div class="col-5 rounded-right ligth-green-jumbo p-2">
            <p>Qulles sont les animaux disponibles ?</p>
            <p>Vous allez les entendre des animaux de tous les continents, en passant par les animaux de fermes, les oiseaux, les lions jusqu"aux mammifères marins.</p>
        </div>
        <div class="col-12">
            <h2 class="text-center">Je vous souhaite une bonne visite</h2>
        </div>
        
    </div>
   
   
</div>
{% endblock %}