
{% extends 'base/base.html' %}

{% block title %}Home - My Website{% endblock %}

{% block header %}Welcome to My Website{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Welcome to my website!</h1>
    <p>This is the body content of my page.</p>
    <div class="row">
        <div class="col-md-6">
            <p class="d-flex flex-column align-items-center">Column 1</p>
            <div class="picture-area d-flex flex-column align-items-center">
                <img src="https://img.20mn.fr/2c2xoZqdQhu84Dmhb8ci9Sk/1200x768_le-berger-australien-est-le-chien-prefere-des-francais" alt="Image 1" class="img-fluid">
                <button class="btn btn-primary mt-2">Button 1</button>
            </div>
        </div>
        <div class="col-md-6">
            <p class="d-flex flex-column align-items-center">Column 2</p>
            <div class="picture-area d-flex flex-column align-items-center">
                <img src="https://img.20mn.fr/2c2xoZqdQhu84Dmhb8ci9Sk/1200x768_le-berger-australien-est-le-chien-prefere-des-francais" alt="Image 2" class="img-fluid">
                <button class="btn btn-primary mt-2">Button 1</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
